{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="">
			<div class="singup-section pt-5">
				<header>Edit your profile</header>
				{{form(editProfileForm)}}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
