{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	<div class='mycontainer'>
		<div class='profile-pic-container'>
			<img src="https://cdn.pixabay.com/photo/2012/11/28/10/48/samurai-67662_1280.jpg" class="img-profile">
		</div>
		<div class='profile-text-container'>
			<h1>Molalix</h1>
			<p>Membre depuis le 02.02.2024</p>
			<p>X Builds</p>
		</div>

		<div class='profile-showcase-title'>
			<h2>Mes créations</h2>
		</div>

	</div>
{% endblock %}
