{% macro footer() %}
	<footer>
		<div class="myfooter-container">
			<div class="mycontainer">
				<div class="footer-about">
					<h3>About Us</h3>
					<p>Welcome to our website! We strive to provide valuable insights on a wide range of topics.</p>
				</div>
				<div class="footer-contact">
					<h3>Contact Information</h3>
					<p>Address: 5678 Elm Street, New York, NY 10001</p>
					<p>Phone: +1 (123) 456-7890</p>
					<p>Email: info@example.com</p>
				</div>
				<div class="footer-legal">
					<p>&copy; 2024 Lorem Ipsum Inc. All rights reserved.
						<a href="#">Privacy Policy</a>
						|
						<a href="#">Terms of Service</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
{% endmacro %}
