{% macro navbar() %}
	<div class='mynav-container-container'>
		<nav class='mynav-container'>
			<div class="mynav-logo">
				<a href="/">
					<img src="{{ asset('assets/img/logo-png.png') }}" alt="Logo">
				</a>
			</div>
			<div class="mynav-research">
				<i class="fa-solid fa-search fa-xl"></i>
				<form>
					<input type="text" name="search" placeholder="Search">
				</form>
			</div>
			<div class="mynav-list">
				<a href="/">
					<i class="fa-solid fa-list fa-xl"></i>
				</a>
			</div>
			<div class="mynav-pencil">
				<a href="/builder">
					<i class="fa-solid fa-pen fa-xl"></i>
				</a>
			</div>
			<div class="mynav-login">
				<a href="/profile">
					<p>
						<i class="fa-regular fa-user fa-xl"></i>
						Login
					</p>
				</a>
			</div>
		</nav>
	</div>
	<div class='mynav-container-container-mobile'>
		<nav class='mynav-container-mobile'>
			<div class="mynav-list-mobile">
				<a href="/">
					<i class="fa-solid fa-list fa-xl"></i>
				</a>
			</div>
			<div class="mynav-pencil-mobile">
				<a href="/builder">
					<i class="fa-solid fa-pen fa-xl"></i>
				</a>
			</div>
			<div class="mynav-login-mobile">
				<a href="/profile">
					<i class="fa-regular fa-user fa-xl"></i>
				</a>
			</div>
		</nav>
	</div>
{% endmacro %}
