{% extends 'base.html.twig' %}

{% block title %}Hello DatabaseController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello DatabaseController! ✅</h1>

		{% if dataFromDatabase is not empty %}
			<h2>Data from the database:</h2>
			<ul>
				{% for test in dataFromDatabase %}
					<li>{{ test.username }}
						-
						{{ test.email }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No data available from the database.</p>
		{% endif %}
	</div>
{% endblock %}
