{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!
{% endblock %}

{% block body %}
	<div class="container login-form">
		<div class="form-container">
			<div class="singup-section">
				<header>S’inscrire</header>
				{{form(userForm)}}
				<a href="{{ path('app_login') }}" class="text-white">Me Connecter</a>
				</div>
			</div>
		</div>	
	</div>
{% endblock %}
