body {
    background-color: #2F2F2F;
    background-image: url("../img/background_scroll.png");
    background-size: 50%;
    font-family: 'Rationale', sans-serif;
    color: #CC8828;
    margin: 0;
    margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Aldrich', sans-serif;
}

.mycontainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}



/* Nav */

.mynav-container-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mynav-container {
    position: sticky;
    top: 0;
    min-height: 50px;
    width: 95vw;
    /* background-color: #5D2A42; */
    background-color: #004266;
    color: black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    /* Centrer verticalement */
    border-radius: 10px;



}

@media only screen and (max-width: 992px) {
    .mynav-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 0px;
        margin: 0;
        width: auto;
        /* Supprimez la marge */
    }
}

.mynav-container a {
    color: #ffffff;
}

.mynav {
    color: black;
    justify-content: center;


}


.mynav-research {
    grid-column: 2/12;
    grid-row: 1;
    display: flex;
    align-items: center;

}


.mynav-research i {
    margin-right: 1vw;
    color: whitesmoke;

}

.mynav-list {
    grid-column: 6/12;
    grid-row: 1;
    display: flex;
    align-items: center;

}

.mynav-list i {
    color: whitesmoke;
}

@media only screen and (max-width: 992px) {
    .mynav-list {
        display: none;
    }
}

.mynav-pencil {
    grid-column: 9/12;
    grid-row: 1;
    display: flex;
    align-items: center;

}

.mynav-pencil i {
    color: whitesmoke;
}

@media only screen and (max-width: 992px) {
    .mynav-pencil {
        display: none;
    }
}

.mynav-login {
    grid-column: 12;
    grid-row: 1;
    display: flex;
    align-items: center;

}

.mynav-login i {
    color: whitesmoke;

}

.mynav-login a {
    color: whitesmoke;
    text-decoration: none;

}



@media only screen and (max-width: 992px) {
    .mynav-login {
        display: none;
    }
}



.mynav a {
    color: #ffffff;
}

.mynav-login a {
    margin-right: 0vw;

}

.mynav-login i {
    margin-right: 1vw;
    justify-content: end;
}

.mynav a:hover {
    color: #000000;
}

.mynav i {
    color: black;
}

/* Nav mobile */
.mynav-container-container-mobile {
    display: none;

}

@media only screen and (max-width: 992px) {

    .mynav-container-container-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mynav-container-mobile {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 50px;
    width: auto;
    background-color: #004266;
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);

}



.mynav-list-mobile {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}



.mynav-pencil-mobile {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}


.mynav-login-mobile {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mynav-container-mobile i {
    color: white;

}

/* Footer */


.myfooter-container {
    background-color: #004266;
    background-image: url("../img/background_scroll.png");
    background-size: 60%;
    background-position: 50%;
    color: white;
    padding: 0;
    text-align: center;
    margin-top: 10vh;
    position: relative;
    bottom: 0;
    left: 0;
}

.myfooter-container p {
    margin: 0;
}

.myfooter-container a {
    color: #CC8828;
    text-decoration: none;
}

.myfooter-container a:hover {
    color: #CC8828;
}

.footer-about {
    grid-column: 1/6;
    grid-row: 1;

}

.footer-contact {
    grid-column: 8/12;
    grid-row: 1;
    justify-content: end;

}

.footer-legal {
    grid-column: 1/12;
    grid-row: 2;

}

/* Dashboard */

.container-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;


}

.dashboard-filter {
    width: 85vw;
    background-color: #004266;
    min-height: 25px;
    border-radius: 30px;



}

.dashboard-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {

    margin: 25px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #1D1D1D;
    width: calc(33.33% - 150px);
    color: #CC8828;
    /* color: white */
    /* 3 cards per row with 20px gap */
}

/* Media query pour les écrans de taille moyenne (tablette) */
@media (max-width: 992px) {
    .card {
        width: calc(50% - 50px);
        /* 2 cartes par rangée */
    }
}

/* Media query pour les écrans de petite taille (smartphones) */
@media (max-width: 767px) {
    .card {
        width: calc(100% - 50px);
        /* 1 carte par rangée */
    }
}

.card img {
    width: 100%;
    height: 250px;

    /* Définit la hauteur de l'image */
    object-fit: cover;
    overflow: hidden;
    /* Cache tout débordement */
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-top: 0;
}

.card-content p {
    margin-bottom: 10px;
}

/* Cards */

.mycard-desktop {
    min-height: 100px;
    min-width: 100px;
    background-color: #2e2e2e;

}

/*Form */

.myform-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

@media (max-width: 992px) {
    .myform-container {
        margin-top: 10vh;
    }
}



.myform {
    background-color: #505050;
    width: 50vw;
    margin-top: 2vw;
    min-height: 75vh;
    border-radius: 15px;
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-right: 1vw;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    display: none;

}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;

}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input~.checkmark {
    background-color: #ccc;

}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked~.checkmark {
    /* background-color: #0B516F; */
    background-color: #CC8828;

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (max-width: 767px) {
    .myform {
        width: 75vw;
    }
}

.first-section-builder {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}




/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #1D1D1D;
    color: #ececec;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: 'Aldrich', sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: rgb(44, 44, 44);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    color: #ececec;
    display: none;
    overflow: hidden;
}



.form-group-panel {
    display: flex;
    margin: 5vh;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.submit-button {



    background-color: #CC8828;
    border-radius: 15px;
    width: 10rem;
    height: 3rem;
    text-decoration: none;
    border-color: none;
}

.submit-button-info {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;

}


/*BUILD*/


.info-panel {
    margin-left: 2vw;
}


/*PROFILE*/

.profile-pic-container {
    grid-column: 2/2;
    grid-row: 2;
}

.profile-text-container {
    grid-column: 4/8;
    grid-row: 2;
    color: white;
}

.profile-showcase-title {

    display: flex;
    justify-content: center;

    grid-column: 2/12;
    grid-row: 3;
    color: white;
    background-color: #1D1D1D;
    border-radius: 30px;
}



.img-profile {
    border-radius: 50%;
    min-height: 150px;
    min-width: 150px;
    width: 15vw;
    height: 15vw;

}

/* pagination */
.pagination-container {
    margin-top: 1vh;
    display: flex;
    justify-content: end;
    width: 80%;
}

.pagination {

    justify-content: end;

}

.pagination a {


    /* margin: 15px;
    color: #010101;*/


    background-color: #e7e7e7;
    /* Green */
    border: none;
    color: #1D1D1D;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;


}

.pagination .current {
    /*background-color: #2980b9;  Fond de chaque élément de pagination */

    background-color: #CC8828;
    /* Green */
    border: none;
    color: #1D1D1D;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* Couleur du texte de chaque élément de pagination */
}