body {
    background-color: #2F2F2F;
    background-image: url("../img/background_scroll2.png");
    background-size: 50%;

}

.mycontainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}



/* Nav */

.mynav-container-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mynav-container {
    position: sticky;
    top: 0;
    min-height: 50px;
    width: 95vw;
    background-color: #5D2A42;
    color: black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    /* Centrer verticalement */
    border-radius: 30px;



}

@media only screen and (max-width: 992px) {
    .mynav-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 0px;
        margin: 0;
        width: auto;
        /* Supprimez la marge */
    }
}

.mynav-container a {
    color: #ffffff;
}

.mynav {
    color: black;
    justify-content: center;


}

.mynav-research {
    grid-column: 2/12;
    grid-row: 1;
    display: flex;
    align-items: center;

}


.mynav-research i {
    margin-right: 1vw;

}

.mynav-list {
    grid-column: 6/12;
    grid-row: 1;
    display: flex;
    align-items: center;

}

@media only screen and (max-width: 992px) {
    .mynav-list {
        display: none;
    }
}

.mynav-pencil {
    grid-column: 9/12;
    grid-row: 1;
    display: flex;
    align-items: center;

}

@media only screen and (max-width: 992px) {
    .mynav-pencil {
        display: none;
    }
}

.mynav-login {
    grid-column: 12;
    grid-row: 1;
    display: flex;
    align-items: center;

}

@media only screen and (max-width: 992px) {
    .mynav-login {
        display: none;
    }
}



.mynav a {
    color: #ffffff;
}

.mynav-login a {
    margin-right: 0vw;

}

.mynav-login i {
    margin-right: 1vw;
    justify-content: end;
}

.mynav a:hover {
    color: #000000;
}

.mynav i {
    color: black;
}

/* Nav mobile */
.mynav-container-container-mobile {
    display: none;

}

@media only screen and (max-width: 992px) {

    .mynav-container-container-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mynav-container-mobile {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 50px;
    width: auto;
    background-color: #5D2A42;
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);

}



.mynav-list-mobile {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}



.mynav-pencil-mobile {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}


.mynav-login-mobile {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mynav-container-mobile i {
    color: white;

}

/* Dashboard */

.container-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;


}

.dashboard-filter {
    width: 85vw;
    background-color: #5D2A42;
    min-height: 25px;
    border-radius: 30px;



}

.dashboard-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {

    margin: 25px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #1D1D1D;
    width: calc(33.33% - 150px);
    color: white
        /* 3 cards per row with 20px gap */
}

/* Media query pour les écrans de taille moyenne (tablette) */
@media (max-width: 992px) {
    .card {
        width: calc(50% - 50px);
        /* 2 cartes par rangée */
    }
}

/* Media query pour les écrans de petite taille (smartphones) */
@media (max-width: 767px) {
    .card {
        width: calc(100% - 50px);
        /* 1 carte par rangée */
    }
}

.card img {
    width: 100%;
    height: 250px;

    /* Définit la hauteur de l'image */
    object-fit: cover;
    overflow: hidden;
    /* Cache tout débordement */
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin-top: 0;
}

.card-content p {
    margin-bottom: 10px;
}

/* Cards */

.mycard-desktop {
    min-height: 100px;
    min-width: 100px;
    background-color: #2e2e2e;

}

/*Form */

.myform-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

@media (max-width: 992px) {
    .myform-container {
        margin-top: 10vh;
    }
}



.myform {
    background-color: #505050;
    width: 50vw;
    margin-top: 2vw;
    min-height: 75vh;
}

@media (max-width: 767px) {
    .myform {
        width: 75vw;
    }
}





/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #1D1D1D;
    color: #ececec;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: rgb(44, 44, 44);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    color: #ececec;
    display: none;
    overflow: hidden;
}

/*PROFILE*/

.profile-pic-container {
    grid-column: 2/2;
    grid-row: 2;
}

.profile-text-container {
    grid-column: 4/8;
    grid-row: 2;
    color: white;
}

.profile-showcase-title {

    display: flex;
    justify-content: center;

    grid-column: 2/12;
    grid-row: 3;
    color: white;
    background-color: #1D1D1D;
    border-radius: 30px;
}



.img-profile {
    border-radius: 50%;
    min-height: 150px;
    min-width: 150px;
    width: 15vw;
    height: 15vw;

}
/* pagination */
.pagination{
    background-color: #fff;
}

.pagination a {
    /*background-color: #2980b9;  Fond de chaque élément de pagination */
    color: #010101; /* Couleur du texte de chaque élément de pagination */
}
.pagination .current {
    /*background-color: #2980b9;  Fond de chaque élément de pagination */
    color: #5c5d2a; /* Couleur du texte de chaque élément de pagination */
}
