{% extends 'base.html.twig' %}

{% block title %}Hello BuilderController!
{% endblock %}

{% block body %}
	<div class="myform-container">
		<div class="myform">
			<button class="accordion">Classes</button>
			<div class="panel">
				<div class="form-group-panel">
					{% for i in range(1, 5) %}
						<checkbox><input type="checkbox" class="my-check-box" id="" name="" value="">
							<label for="">I have a bike</label>
						</checkbox>
					{% endfor %}
				</div>


			</div>

			<button class="accordion">Races
			</button>
			<div class="panel">
				<p>Lorem ipsum...</p>
			</div>

			<button class="accordion">Section 3</button>
			<div class="panel">
				<p>Lorem ipsum...</p>
			</div>

		</div>

	</div>

	<script src='{{ asset('js/builder.js') }}'></script>


{% endblock %}
