{% extends 'base.html.twig' %}

{% block title %}Hello BuilderController!
{% endblock %}

{% block body %}
	<div class="myform-container">
		<div class="myform">
			<button class="accordion first-section-builder">Classes</button>
			<div class="panel">
				<div class="form-group-panel">
					{% for i in range(1, 5) %}
						<label class="container-checkbox">One
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>

					{% endfor %}
				</div>


			</div>

			<button class="accordion">Sous-classes
			</button>
			<div class="panel">
				<div class="form-group-panel">
					{% for i in range(1, 5) %}
						<label class="container-checkbox">One
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>

					{% endfor %}
				</div>


			</div>

			<button class="accordion">Races</button>
			<div class="panel">
				<div class="form-group-panel">
					{% for i in range(1, 5) %}
						<label class="container-checkbox">One
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>

					{% endfor %}
				</div>


			</div>

			<button class="accordion">Sous-races</button>
			<div class="panel">
				<div class="form-group-panel">
					{% for i in range(1, 5) %}
						<label class="container-checkbox">One
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>

					{% endfor %}
				</div>


			</div>

			<button class="accordion">Abilities</button>
			<div class="panel">
				<div class="form-group-panel">
					<section class="ability-container ">
						<div class='row_ability'>
							<h2>Choose your characters Ability Points.</h2>
						</div>
						<div class='row_ability'>
							<h3>Ability Point</h3>
							<h3>Bonus</h3>
						</div>
						<div class='row_ability'>
							<h4>27</h4>
							<div class='ability_bonus'>
								<h4>+2</h4>
								<h4>+1</h4>
							</div>
						</div>

						<div class='row_ability'>
							<div class='ability_choice'>
								<label for="Strength">Strength:</label>
								<input type="number" id="Strength" name="Strength" min="8" max="15" value="8"/>
							</div>
							<div class='ability_bonus'>
								<input type="radio" id="Ability1" name="Ability1" value="Strength"/>
								<input type="radio" id="Ability2" name="Ability2" value="Strength"/>
							</div>

						</div>
						<div class='row_ability'>
							<div class='ability_choice'>
								<label for="Dexterity">Dexterity:</label>
								<input type="number" id="Dexterity" name="Dexterity" min="8" max="15" value="8"/>
							</div>
							<div class='ability_bonus'>
								<input type="radio" id="Ability1" name="Ability1" value="Dexterity"/>
								<input type="radio" id="Ability2" name="Ability2" value="Dexterity"/>
							</div>

						</div>
						<div class='row_ability'>
							<div class='ability_choice'>
								<label for="Constitution">Constitution:</label>
								<input type="number" id="Constitution" name="Constitution" min="8" max="15" value="8"/>
							</div>
							<div class='ability_bonus'>
								<input type="radio" id="Ability1" name="Ability1" value="Constitution"/>
								<input type="radio" id="Ability2" name="Ability2" value="Constitution"/>
							</div>

						</div>
						<div class='row_ability'>
							<div class='ability_choice'>
								<label for="Inteligence">Inteligence:</label>
								<input type="number" id="Inteligence" name="Inteligence" min="8" max="15" value="8"/>
							</div>
							<div class='ability_bonus'>
								<input type="radio" id="Ability1" name="Ability1" value="Inteligence"/>
								<input type="radio" id="Ability2" name="Ability2" value="Inteligence"/>
							</div>

						</div>
						<div class='row_ability'>
							<div class='ability_choice'>
								<label for="Wisdom">Wisdom:</label>
								<input type="number" id="Wisdom" name="Wisdom" min="8" max="15" value="8"/>
							</div>
							<div class='ability_bonus'>
								<input type="radio" id="Ability1" name="Ability1" value="Wisdom"/>
								<input type="radio" id="Ability2" name="Ability2" value="Wisdom"/>
							</div>

						</div>
						<div class='row_ability'>
							<div class='ability_choice'>
								<label for="Charisma">Charisma:</label>
								<input type="number" id="Charisma" name="Charisma" min="8" max="15" value="8"/>
							</div>
							<div class='ability_bonus'>
								<input type="radio" id="Ability1" name="Ability1" value="Charisma"/>
								<input type="radio" id="Ability2" name="Ability2" value="Charisma"/>
							</div>

						</div>
						<div><input type="button" value="Clear" id="Clear"></div>
					</section>
				</div>
			</div>
			<button class="accordion">Spells</button>
			<div class="panel">
				<div class="form-group-panel">
					{% for i in range(1, 5) %}
						<label class="container-checkbox">One
							<input type="checkbox">
							<span class="checkmark"></span>
						</label>

					{% endfor %}
				</div>


			</div>

		</div>

	</section>
</div></div><div class="panel last-section">
<div class="form-group-panel">
	{% for i in range(1, 5) %}
		<label class="container-checkbox">One
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>

	{% endfor %}
</div></div></div><script src='{{ asset('js/builder.js') }}'></script>{% endblock %}
