{% block nav %}
	<div class='mynav-container-container'>
		<nav class='mynav-container'>


			<div class="mynav-research">
				<i class="fa-solid fa-search fa-xl"></i>
				<form>
					<input type="text" name="search" placeholder="Search">
				</form>

			</div>
			<div class="mynav-list">
				<a href="/dashboard">
					<i class="fa-solid fa-list fa-xl"></i>
				</a>
			</div>
			<div class="mynav-pencil">
				<a href="/form">
					<i class="fa-solid fa-pen fa-xl"></i>
				</a>
			</div>

			<div class="mynav-login">
				<a href="/profile">

					<i class="fa-regular fa-user fa-xl"></i>

					Login</a>
			</div>

		</div>
	</div>

{% endblock %}
