{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}

	<div class="container-dashboard">
		<div class="dashboard-filter">
			<form-check></form-check>
		</div>


	</div>

{% endblock %}
