{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur!{% endblock %}

{% block body %}

{# {{ dump(form) }} #}
<div>
    {{ form(editForm) }}
</div>
<p><a href="{{ path('app_user') }}" class="btn btn-primary">Retour à la liste</a></p>

{% endblock %}